<h1>Lista de Películas</h1>
<div>
  <div>
    @if(selected){
    <app-movie-detail [movie]="selectedMovie"></app-movie-detail>
    }
    <table>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Poster</th>
        <th scope="col">Director</th>
        <th scope="col">Año</th>
        <th scope="col">Calificación</th>
      </tr>

      <div class = container-cards>
        <div class = cards-row>
        @for(movie of movies; track movie.id) {

         <tr (click)="onSelect(movie)">
          <td>
            <!--Titulo-->
            <h5 class="card-title">{{ movie.title }}</h5>
          </td>
          
          <!--Info-->
          <p class="item">
            <img class="movie-foto" [src]="movie.posterImageUrl"/>
          </p>

          <p class="item">
            <span class="label">Rating</span>
            <span>{{ movie.director }}</span>
          </p>
          <p class="item">
            <span class="label">Rating</span>
            <span>{{ movie.releaseYear }}</span>
          </p>
          <p class="item">
            <span class="label">Rating</span>
            <span>{{ movie.rating }}</span>
          </p>

          <p class="item">
            <span class = "label">Duracion</span>
            <span>{{ movie.duration }} mins</span>

      </tr>
      }
    </div>
  </div>
    </table>

  
  </div>
</div>
